# Sets

Set is a collection of items. Let me take you back to your elementary or high school Mathematics lesson. The Mathematics definition of a set can be applied also in Python. Set is a collection of unordered and un-indexed distinct elements. In Python set is used to store unique items, and it is possible to find the union, intersection, difference, symmetric difference, subset, super set and disjoint set among sets.

```{contents}
:local:
```

## Creating a Set

In [1]:
s = set()
s

set()

In [2]:
s = {"item1", "item2", "item3", "item4"}
s

{'item1', 'item2', 'item3', 'item4'}

In [3]:
fruits = {"banana", "orange", "mango", "lemon"}
fruits

{'banana', 'lemon', 'mango', 'orange'}

## Getting Set's Length

In [4]:
s = {"item1", "item2", "item3", "item4"}
len(s)

4

In [5]:
fruits = {"banana", "orange", "mango", "lemon"}
len(fruits)

4

## Accessing Items in a Set

We use loops to access items. We will see this in [loop section](./loops).

## Checking an Item

In [6]:
s = {"item1", "item2", "item3", "item4"}
print("Does set s contain item3?", "item3" in s)

Does set s contain item3? True

In [7]:
fruits = {"banana", "orange", "mango", "lemon"}
print("mango" in fruits)

True

## Adding Items to a Set

### add()

In [8]:
s = {"item1", "item2", "item3", "item4"}
s.add("item5")
s

{'item1', 'item2', 'item3', 'item4', 'item5'}

In [9]:
fruits = {"banana", "orange", "mango", "lemon"}
fruits.add("lime")
fruits

{'banana', 'lemon', 'lime', 'mango', 'orange'}

### update()

In [10]:
s = {"item1", "item2", "item3", "item4"}
s.update(["item5", "item6", "item7"])
s

{'item1', 'item2', 'item3', 'item4', 'item5', 'item6', 'item7'}

In [11]:
fruits = {"banana", "orange", "mango", "lemon"}
vegetables = ("tomato", "potato", "cabbage", "onion", "carrot")
fruits.update(vegetables)
fruits

{'banana',
 'cabbage',
 'carrot',
 'lemon',
 'mango',
 'onion',
 'orange',
 'potato',
 'tomato'}

## Removing Items from a Set

We can remove an item from a set using `remove()` method. If the item is not found `remove()` method will raise errors, so it is good to check if the item exist in the given set. However, `discard()` method doesn't raise any errors.

In [12]:
s = {"item1", "item2", "item3", "item4"}
s.remove("item2")
s

{'item1', 'item3', 'item4'}

The `pop()` methods remove a random item from a list and it returns the removed item.

In [13]:
fruits = {"banana", "orange", "mango", "lemon"}
fruits.pop()
fruits

{'lemon', 'mango', 'orange'}

If we are interested in the removed item.

In [14]:
fruits = {"banana", "orange", "mango", "lemon"}
removed_item = fruits.pop()
removed_item

'banana'

## Clearing Items in a Set

In [15]:
s = {"item1", "item2", "item3", "item4"}
s.clear()
s

set()

In [16]:
fruits = {"banana", "orange", "mango", "lemon"}
fruits.clear()
fruits

set()

## Deleting a Set

In [17]:
s = {"item1", "item2", "item3", "item4"}
del s

In [18]:
fruits = {"banana", "orange", "mango", "lemon"}
del fruits

## Converting List to Set

We can convert list to set and set to list. Converting list to set **removes duplicates** and only unique items will be reserved.

In [19]:
l = ["item1", "item2", "item3", "item4", "item1", "item2"]
s = set(l)
s

{'item1', 'item2', 'item3', 'item4'}

In [20]:
fruits = ["banana", "orange", "mango", "lemon", "orange", "banana"]
fruits = set(fruits)
fruits

{'banana', 'lemon', 'mango', 'orange'}

## Joining Sets

### union()

In [21]:
s1 = {"item1", "item2", "item3", "item4"}
s2 = {"item5", "item6", "item7", "item8"}
s3 = s1.union(s2)
s3

{'item1', 'item2', 'item3', 'item4', 'item5', 'item6', 'item7', 'item8'}

In [22]:
fruits = {"banana", "orange", "mango", "lemon"}
vegetables = {"tomato", "potato", "cabbage", "onion", "carrot"}
fruits.union(vegetables)

{'banana',
 'cabbage',
 'carrot',
 'lemon',
 'mango',
 'onion',
 'orange',
 'potato',
 'tomato'}

### update()

In [23]:
s1 = {"item1", "item2", "item3", "item4"}
s2 = {"item5", "item6", "item7", "item8"}
s1.update(s2)
s1

{'item1', 'item2', 'item3', 'item4', 'item5', 'item6', 'item7', 'item8'}

In [24]:
fruits = {"banana", "orange", "mango", "lemon"}
vegetables = {"tomato", "potato", "cabbage", "onion", "carrot"}
fruits.update(vegetables)
fruits

{'banana',
 'cabbage',
 'carrot',
 'lemon',
 'mango',
 'onion',
 'orange',
 'potato',
 'tomato'}

## Finding Intersection Items

`intersection()` returns a set of items which are in both the sets.

In [25]:
s1 = {"item1", "item2", "item3", "item4"}
s2 = {"item3", "item2"}
s1.intersection(s2)

{'item2', 'item3'}

In [26]:
whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
even_numbers = {0, 2, 4, 6, 8, 10}
whole_numbers.intersection(even_numbers)

{0, 2, 4, 6, 8, 10}

In [27]:
python = {"p", "y", "t", "h", "o", "n"}
dragon = {"d", "r", "a", "g", "o", "n"}
python.intersection(dragon)

{'n', 'o'}

## Checking Subset and Super Set

A set can be a subset or super set of other sets:

* Subset: `issubset()`
* Superset: `issuperset()`

In [28]:
s1 = {"item1", "item2", "item3", "item4"}
s2 = {"item2", "item3"}

In [29]:
s2.issubset(s1)

True

In [30]:
s1.issuperset(s2)

True

In [31]:
whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
even_numbers = {0, 2, 4, 6, 8, 10}

print(whole_numbers.issubset(even_numbers))
print(whole_numbers.issuperset(even_numbers))

False
True

In [32]:
python = {"p", "y", "t", "h", "o", "n"}
dragon = {"d", "r", "a", "g", "o", "n"}
python.issubset(dragon)

False

## Checking the Difference Between Two Sets

In [33]:
s1 = {"item1", "item2", "item3", "item4"}
s2 = {"item2", "item3"}

In [34]:
s2.difference(s1)

set()

In [35]:
s1.difference(s2)

{'item1', 'item4'}

In [36]:
whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
even_numbers = {0, 2, 4, 6, 8, 10}
whole_numbers.difference(even_numbers)

{1, 3, 5, 7, 9}

In [37]:
python = {"p", "y", "t", "o", "n"}
dragon = {"d", "r", "a", "g", "o", "n"}
print(python.difference(dragon))
print(dragon.difference(python))

{'t', 'y', 'p'}
{'g', 'd', 'a', 'r'}