# Variables & Data Types

## Variables

Variables store data in a computer's memory. A variable refers to a memory address in which data is stored. A variable can have a short name (like x, y, z), but a more descriptive name (firstname, lastname, age, country) is highly recommended. Number at the beginning, special character, hyphen are not allowed when naming a variable.

**Python Variable Naming Rules**

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)

Here are some example of valid variable names:

* first_name
* last_name
* firstname
* lastname
* age
* country
* city
* capital_city
* _if # when we want to use reserved word as a variable
* year_2021
* year2021
* current_year_2021
* birth_year
* num1
* num2

Invalid variables names:

* first-name
* first@name
* first$name
* num-1
* 1num

We will use standard Python variable naming style which has been adopted by many Python developers, which is the snake case (`snake_case`) variable naming convention. We use an underscore character after each word for a variable containing more than one word (eg. first_name, engine_rotation_speed, day_of_week). The example below is an example of standard naming of variables, underscore is required when the variable name is more than one word.

When we assign a certain data type to a variable, it is called a variable declaration. For instance in the example below my first name is assigned to a variable first_name. The equal sign is an assignment operator. Assigning means storing data in the variable. The equal sign in Python is not equality as in Mathematics.

**Example:**

In [1]:
# Variables in Python
first_name = "Aurora"
last_name = "Luna"
country = "Indonesia"
city = "Palembang"
age = 6
is_married = False
skills = ["HTML", "CSS", "JS", "React", "Python"]
person_info = {
    "first_name": "Aurora",
    "last_name": "Luna",
    "country": "Indonesia",
    "city": "Palembang",
}

Let us use the `print()` and `len()` built-in functions. The `print()` function takes an unlimited number of arguments. An argument is a value which we can be passed or put inside the function parenthesis, see the example below.

**Example:**

In [2]:
print("Hello, World!")  # The text Hello, World! is an argument
print(
    "Hello", ",", "World", "!"
)  # it can take multiple arguments, four arguments have been passed
print(len("Hello, World!"))  # it takes only one argument

Hello, World!
Hello , World !
13

Let us print and also find the length of the variables declared at the top:

**Example:**

In [3]:
# Printing the values stored in the variables

print("First name:", first_name)
print("First name length:", len(first_name))
print("Last name: ", last_name)
print("Last name length: ", len(last_name))
print("Country: ", country)
print("City: ", city)
print("Age: ", age)
print("Married: ", is_married)
print("Skills: ", skills)
print("Person information: ", person_info)

First name: Aurora
First name length: 6
Last name:  Luna
Last name length:  4
Country:  Indonesia
City:  Palembang
Age:  6
Married:  False
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python']
Person information:  {'first_name': 'Aurora', 'last_name': 'Luna', 'country': 'Indonesia', 'city': 'Palembang'}

### Declaring Multiple Variable in a Line

Multiple variables can also be declared in one line:

**Example:**

In [4]:
first_name, last_name, country, age, is_married = (
    "Aurora",
    "Luna",
    "Indonesia",
    6,
    False,
)

print(first_name, last_name, country, age, is_married)
print("First name:", first_name)
print("Last name: ", last_name)
print("Country: ", country)
print("Age: ", age)
print("Married: ", is_married)

Aurora Luna Indonesia 6 False
First name: Aurora
Last name:  Luna
Country:  Indonesia
Age:  6
Married:  False

Getting user input using the `input()` built-in function. Let us assign the data we get from a user into `first_name` and `age` variables.

**Example:**

In [5]:
first_name = input("What is your name: ")
age = input("How old are you? ")

print(first_name)
print(age)

What is your name:  Aurora
How old are you?  6

Aurora
6

## Data Types

There are several data types in Python. To identify the data type we use the `type` built-in function. We would like to ask you to focus on understanding different data types very well. When it comes to programming, it is all about data types. We introduced data types at the very beginning and it comes again because every topic is related to data types. We will cover data types in more detail in their respective sections.

### Checking data types

To check the data type of certain data/variables we use the built-in `type()` function.

**Example:**

In [6]:
# Different python data types
# Let's declare variables with various data types

first_name = "Aurora"  # str
last_name = "Luna"  # str
country = "Indonesia"  # str
city = "Palembang"  # str
age = 6  # int

# Printing out types
print(type("Aurora"))  # str
print(type(first_name))  # str
print(type(10))  # int
print(type(3.14))  # float
print(type(1 + 1j))  # complex
print(type(True))  # bool
print(type([1, 2, 3, 4]))  # list
print(type({"name": "Aurora", "age": 6, "is_married": False}))  # dict
print(type((1, 2)))  # tuple
print(type(zip([1, 2], [3, 4])))  # set

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'zip'>

### Casting data types

Casting is a process of converting one data type to another data type. We use `int()`, `float()`, `str()`, `list()`, `set()`. When we do arithmetic operations string numbers should be first converted to `int` or `float` otherwise it will return an error. If we concatenate a number with a string, the number should be first converted to a string.

**Example:**

In [7]:
# int to float
num_int = 10
print("num_int", num_int)  # 10
num_float = float(num_int)
print("num_float:", num_float)  # 10.0

# float to int
gravity = 9.81
print(int(gravity))  # 9

# int to str
num_int = 10
print(num_int)  # 10
num_str = str(num_int)
print(num_str)  # "10"

# str to int or float
num_str = "10.6"
print("num_float", float(num_str))  # 10.6
print("num_int", int(float(num_str)))  # 10

# str to list
first_name = "Aurora"
print(first_name)  # "Aurora"
first_name_to_list = list(first_name)
print(first_name_to_list)  # ['A', 'u', 'r', 'o', 'r', 'a']

num_int 10
num_float: 10.0
9
10
10
num_float 10.6
num_int 10
Aurora
['A', 'u', 'r', 'o', 'r', 'a']