# Dictionaries

A dictionary is a collection of unordered, modifiable (mutable) paired (key: value) data type.

```{contents}
:local:
```

## Creating a Dictionary

To create a dictionary we use curly brackets, `{}` or the `dict()` built-in function.

In [1]:
empty_dict = {}
empty_dict

{}

In [2]:
d = {"key1": "value1", "key2": "value2", "key3": "value3", "key4": "value4"}
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [3]:
person = {
    "first_name": "Aurora",
    "last_name": "Luna",
    "age": 6,
    "country": "Indonesia",
    "skills": ["JavaScript", "React", "Node", "MongoDB", "Python"],
    "address": {"street": "Jl. Jalan", "zipcode": "123456"},
}
person

{'first_name': 'Aurora',
 'last_name': 'Luna',
 'age': 6,
 'country': 'Indonesia',
 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
 'address': {'street': 'Jl. Jalan', 'zipcode': '123456'}}

The dictionary above shows that a value could be any data types: string, boolean, list, tuple, set or a dictionary.

## Dictionary Length

It checks the number of 'key: value' pairs in the dictionary.

In [4]:
d = {"key1": "value1", "key2": "value2", "key3": "value3", "key4": "value4"}
len(d)

4

In [5]:
person = {
    "first_name": "Aurora",
    "last_name": "Luna",
    "age": 6,
    "country": "Indonesia",
    "skills": ["JavaScript", "React", "Node", "MongoDB", "Python"],
    "address": {"street": "Jl. Jalan", "zipcode": "123456"},
}
len(person)

6

## Accessing Dictionary Items

We can access Dictionary items by referring to its key name.

In [6]:
d = {"key1": "value1", "key2": "value2", "key3": "value3", "key4": "value4"}
print(d["key1"])
print(d["key4"])

value1
value4

In [7]:
person = {
    "first_name": "Aurora",
    "last_name": "Luna",
    "age": 6,
    "country": "Indonesia",
    "skills": ["JavaScript", "React", "Node", "MongoDB", "Python"],
    "address": {"street": "Jl. Jalan", "zipcode": "123456"},
}
print(person["first_name"])
print(person["country"])
print(person["skills"])
print(person["skills"][0])
print(person["address"]["street"])  # Space street
# print(person['city']) # Running this will raise KeyError: 'city'

Aurora
Indonesia
['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
JavaScript
Jl. Jalan

Accessing an item by key name raises an error if the key does not exist. To avoid this error first we have to check if a key exist or we can use the `get()` method. The `get()` method returns `None`, which is a `NoneType` object data type, if the key does not exist.

In [8]:
print(person.get("first_name"))
print(person.get("country"))
print(person.get("skills"))
print(person.get("city"))

Aurora
Indonesia
['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
None

## Adding Items to a Dictionary

In [9]:
d = {"key1": "value1", "key2": "value2", "key3": "value3", "key4": "value4"}
d["key5"] = "value5"
d

{'key1': 'value1',
 'key2': 'value2',
 'key3': 'value3',
 'key4': 'value4',
 'key5': 'value5'}

In [10]:
person = {
    "first_name": "Aurora",
    "last_name": "Luna",
    "age": 6,
    "country": "Indonesia",
    "skills": ["JavaScript", "React", "Node", "MongoDB", "Python"],
    "address": {"street": "Jl. Jalan", "zipcode": "123456"},
}
person["job_title"] = "Student"
person["skills"].append("TensorFlow")
person

{'first_name': 'Aurora',
 'last_name': 'Luna',
 'age': 6,
 'country': 'Indonesia',
 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python', 'TensorFlow'],
 'address': {'street': 'Jl. Jalan', 'zipcode': '123456'},
 'job_title': 'Student'}

## Modifying Items in a Dictionary

In [11]:
d = {"key1": "value1", "key2": "value2", "key3": "value3", "key4": "value4"}
d["key1"] = "value-one"
d

{'key1': 'value-one', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [12]:
person = {
    "first_name": "Aurora",
    "last_name": "Luna",
    "age": 6,
    "country": "Indonesia",
    "skills": ["JavaScript", "React", "Node", "MongoDB", "Python"],
    "address": {"street": "Jl. Jalan", "zipcode": "123456"},
}
person["last_name"] = "Wulan"
person["country"] = "New Zealand"
person

{'first_name': 'Aurora',
 'last_name': 'Wulan',
 'age': 6,
 'country': 'New Zealand',
 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
 'address': {'street': 'Jl. Jalan', 'zipcode': '123456'}}

## Checking Keys in a Dictionary

We use the `in` operator to check if a key exist in a dictionary.

In [13]:
d = {"key1": "value1", "key2": "value2", "key3": "value3", "key4": "value4"}
print("key2" in d)
print("key5" in d)

True
False

## Removing Key and Value Pairs from a Dictionary

* `pop(key)`: removes the item with the specified key name
* `popitem()`: removes the last item
* `del`: removes an item with specified key name

In [14]:
d = {"key1": "value1", "key2": "value2", "key3": "value3", "key4": "value4"}
d.pop("key1")
d

{'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [15]:
d = {"key1": "value1", "key2": "value2", "key3": "value3", "key4": "value4"}
d.popitem()

('key4', 'value4')

In [16]:
d = {"key1": "value1", "key2": "value2", "key3": "value3", "key4": "value4"}
del d["key2"]
d

{'key1': 'value1', 'key3': 'value3', 'key4': 'value4'}

In [17]:
person = {
    "first_name": "Aurora",
    "last_name": "Luna",
    "age": 6,
    "country": "Indonesia",
    "skills": ["JavaScript", "React", "Node", "MongoDB", "Python"],
    "address": {"street": "Jl. Jalan", "zipcode": "123456"},
}
person.pop("address")
person.popitem()
del person["country"]
person

{'first_name': 'Aurora', 'last_name': 'Luna', 'age': 6}

## Changing Dictionary to a List of Items

The `items()` method changes dictionary to a list of tuples.

In [18]:
d = {"key1": "value1", "key2": "value2", "key3": "value3", "key4": "value4"}
d.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3'), ('key4', 'value4')])

In [19]:
person = {
    "first_name": "Aurora",
    "last_name": "Luna",
    "age": 6,
    "country": "Indonesia",
    "skills": ["JavaScript", "React", "Node", "MongoDB", "Python"],
    "address": {"street": "Jl. Jalan", "zipcode": "123456"},
}
person.items()

dict_items([('first_name', 'Aurora'), ('last_name', 'Luna'), ('age', 6), ('country', 'Indonesia'), ('skills', ['JavaScript', 'React', 'Node', 'MongoDB', 'Python']), ('address', {'street': 'Jl. Jalan', 'zipcode': '123456'})])

## Clearing a Dictionary

In [20]:
d = {"key1": "value1", "key2": "value2", "key3": "value3", "key4": "value4"}
print(d.clear())

None

## Deleting a Dictionary

In [21]:
d = {"key1": "value1", "key2": "value2", "key3": "value3", "key4": "value4"}
del d

## Copy a Dictionary

We can copy a dictionary using a `copy()` method. Using copy we can avoid mutation of the original dictionary.

In [22]:
d1 = {"key1": "value1", "key2": "value2", "key3": "value3", "key4": "value4"}
d2 = d1.copy()
d2

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

## Getting Dictionary Keys as a List

The `keys()` method gives us all the keys of a a dictionary as a list.

In [23]:
d = {"key1": "value1", "key2": "value2", "key3": "value3", "key4": "value4"}
keys = d.keys()
keys

dict_keys(['key1', 'key2', 'key3', 'key4'])

## Getting Dictionary Values as a List

The `values()` method gives us all the values of a a dictionary as a list.

In [24]:
dct = {"key1": "value1", "key2": "value2", "key3": "value3", "key4": "value4"}
values = dct.values()
values

dict_values(['value1', 'value2', 'value3', 'value4'])